.list-header {
  background: $off-grey;
  border: 1px solid darken($off-grey, 20%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-grey, 20%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .1s ease;
  &:hover {
    background: darken($off-grey, 1%);
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  word-break: break-all;
}

.list-item__title-en {
  color: #999;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 $s-size 0;
  line-height: 1.1;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}
.list-item__sub-title-en {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size; 
  }
}

